<!DOCTYPE html>
<% provide(:title, "Home") %>
<html>

  <head>

    <title>Home | My Utility App</title>

  </head>

  <body>

    <h1>My Utility App</h1>

    <p>

      This is the home page for the My Utility App.

    </p>

    <%= link_to "SignUp", signup_path, class: "btn btn-lg btn-primary" %>
  </body>

</html>
