<footer class="footer">
  <small>
    The Utility Corner</a>
    by <a href="http://www.doelsengupta.blogspot.com/">Doel Sengupta</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Contact", contact_path  %></li>
      <li><a href="http://news.railstutorial.org/">News</a></li>
    </ul>
  </nav>
</footer>

